html {
	color: black;
}

body {
	font: 23px Georgia, "Times New Roman", Times, serif; /* Fonte maior */
	margin: 0 auto;
	background-color: #E9E9E9;
}

/* @group Centralize */

.centralize {
	width: 960px;
	margin: 0 auto;
	text-align: center;
}

.centralize .header {
	font-size: 1.2em;
	margin: 0;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

/* @end */

/* @group header */

.bar {
	background-color: #2D2D2D;
	color: #BBB;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	position: relative;
}

.bar ul {
	list-style: none;
	margin: 0;
	padding: 0;
	padding-left: 2%;
	font-weight: bold;
}

.bar li {
	padding: 8px 20px;
	margin: 0;
	display: inline-block;
	cursor: pointer;
}

.bar a {
	text-decoration: none;
	color: #BBB;
}

.bar .rightBar {
	position: absolute;
	right: 0;
	top: 0;
}

/* @end */

#content {
	margin: 0;
}

/* @group Generic */

.loadingBike {
	left: 0;
	right: 0;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
}

table {
	width: 100%;
	text-align: center;
}

table, th, tr, td {
	border: 3px solid #333;
}

/* @end */

/* @group Menu */

#menuContentWrapper {
	background-color: #222;
	padding: 0;
	min-width: 960px;
	border-bottom: 1px solid #333;
	border-top: 1px solid #333;
	box-shadow: 0 1px black, 0 2px 1px rgba(0, 0, 0, .4);
	-moz-box-shadow: 0 1px #000, 0 2px 1px rgba(0, 0, 0, .4);
	-webkit-box-shadow: 0 1px black, 0 2px 1px rgba(0, 0, 0, .4);
	width: 100%;
}

#menuContent {
	position: relative;
}

#menuContent ul {
	text-decoration: none;
	list-style: none;
	margin: 0 auto;
	padding: 0;
}

#menuContent li {
	display: inline-block;
	padding: 15px;
	margin: 0;
	width: 202px;
	border-right: 1px inset #333;
	-moz-box-shadow: -1px 0 black inset;
	-webkit-box-shadow: -1px 0 black inset;
	box-shadow: -1px 0 black inset;
	text-align: center;
}

#menuContent li.selected {
	color: silver;
}

#menuContent li:hover {
	color: silver;
}

#menuContent a {
	text-decoration: none;
	color: white;
	cursor: pointer;
	margin: 0;
	padding: 0;
}

/* @end */

/* @group Logo */

#logoContentWrapper {
	background-color: #17a5cc;
	position: relative;
	padding: 20px 0;
}

#logoContentTextWrapper {
	text-align: center;
}

#logoContent {
	position: relative;
}

#logoContent h1 {
	font-size: 1.8em;
	margin: 0;
	padding-bottom: 0.3em;
}

.androidCell {
	position: absolute;
	right: 90px;
	top: -18px;
	width: 256px;
	height: 256px;
}

/* @end */

/* @group Leading */

#leadingContentWrapper {
	background-color: #ebf8ff;
	text-align: justify;
}

#leadingContent {
	padding: 30px;
	text-align: center;
}

#leadingContent img.logos {
	width: 350px;
	margin: 0 40px;
}

.userBox {
	text-align: center;
}

.inquiryMenu, .inquiryAlternativeMenu {
	text-decoration: none;
	list-style: none;
	margin: 0 auto;
	padding: 0;
}

.inquiryMenu li {
	display: inline-block;
	width: 300px;
	padding: 20px;
	color: #FFF;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid #8d3320;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
	-webkit-transition-duration: 0.2s;
	-moz-transition-duration: 0.2s;
	transition-duration: 0.2s;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	font-size: 1.2em;
	cursor: pointer;
	text-align: center;
	background-color: #ba5a43;
	position: relative;
	margin: 0 10px;
}

.inquiryMenu li:hover {
	border: 1px solid #773f29;
    text-decoration: none;
	background-color: #944735;
}

.inquiryMenu li:active {
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
	border: 1px solid #5f2d20;
	background-color: #81452e;
}

.inquiryMenu li .description {
	padding: 0;
	color: black;
	font-size: 90%;
}

.inquiryMenu .inquiryMenuSelectedOption {
	border: 1px solid #6a270d;
	text-decoration: none;
	background-color: #5e1b0a;
}

.inquiryBox {
	position: relative;
	overflow: hidden;
	border: 3px solid #333;
	border-radius: 10px;
	margin-top: 20px;
	text-align: left;
}

.inquiryBox input, .inquiryBox textarea {
	padding: 8px 20px;
	width: 90%;
	background: none repeat scroll 0 0 #CCC;
	margin: 10px 0 0;
	color: black;
	text-align: left;
	font-size: 1.0em;
}

.inquiryBox span.inputTitle {
	margin-left: 20px;
}

.inquiryBox .inquiryDatabaseList {
	border-bottom: 3px solid #333;
	cursor: pointer;
	overflow: hidden;
}

.inquiryBox .inquiryDatabaseList li {
	border-bottom: 1px dashed #333;
	position: relative;
	min-height: 100px;
	padding: 10px 2%;
}

.inquiryBox .inquiryDatabaseList li:last-child {
	border-bottom: 0;
}

.inquiryBox .inquiryDatabaseList li:hover {
	background-color: #EBF8FF;
}

.inquiryBox .inquiryDatabaseList p {
	margin: 0;
	padding: 0;
}

.inquiryBox .inquiryDatabaseListMetaWrapperLeft {
	width: 40%;
}

.inquiryBox .inquiryDatabaseListMetaWrapperRight {
	position: absolute;
	right: 0;
	top: 10px;
	width: 58%;
}

.inquiryBox p.inquiryDatabaseListTitle {
	padding-bottom: 10px;
	font-size: 0.9em;
}

.inquiryBox .inquiryDatabaseListAuthor {
	font-weight: bold;
}

.inquiryBox .inquiryDatabaseListTheme {
	font-style: italic;
	font-size: 0.7em;
}

.inquiryBox .inquiryDatabaseListDescription {
	color: gray;
	font-size: 80%;
}

.inquiryBox .inquiryHeaderBox, .inquiryBox .inquiryAlternativeBox {
	width: 45%;
	padding: 0 2%;
}

.inquiryBox .inquiryHeaderBox {
	float: left;
}

.inquiryBox .inquiryAlternativeBox {
/*	position: absolute;
	right: 0;
	top: 0;*/
	float: right;
}

.inquiryBox .inquiryAlternativeBox p {
	margin-bottom: 10px;
	margin-left: 20px;
	margin-right: 0;
}

.inquiryBox .inquiryAlternativeBoxInside {
	border: 2px solid #333;
	border-radius: 10px;
	overflow: hidden;
	margin-bottom: 10px;
	list-style: none;
}

.inquiryBox .inquiryBoxAlternative {
	padding: 10px 18px;
	cursor: pointer;
}

.inquiryBox .inquiryBoxAlternativeSelected {
	background-color: #356094;
}

.inquiryBox .inquiryBoxAlternativeCorrect {
	color: #2b9d2b;
}

.inquiryBox .inquiryAlternativeMenu li {
	display: inline-block;
	width: 109px;
	padding: 10px;
	color: #FFF;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid #20538D;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
	-webkit-transition-duration: 0.2s;
	-moz-transition-duration: 0.2s;
	transition-duration: 0.2s;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	font-size: 0.8em;
	cursor: pointer;
	text-align: center;
	background-color: #4479BA;
	position: relative;
	margin: 4px;
}

.inquiryBox .inquiryAlternativeMenu li:hover {
	border: 1px solid #2A4E77;
    text-decoration: none;
	background-color: #356094;
}

.inquiryBox .inquiryAlternativeMenu li:active {
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
	border: 1px solid #203E5F;
	background-color: #2E5481;
}

.inquiryBox .inquiryAlternativeMenu .inquiryAlternativeMenuSelectCorrectAnswer {
	width: 399px;
}

.inquiryBox .inquiryAlternativeMenuError {
	font-size: 0.8em;
	font-weight: bold;
	text-align: center;
	margin-top: 10px;
}

.inquiryBox .inquiryControlBox {
	margin: 0 auto 20px;
	text-align: center;
}

.inquiryBox .inquiryControlBox li {
	display: inline-block;
	width: 200px;
	padding: 16px 26px;
	color: #FFF;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid #20538D;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
	-webkit-transition-duration: 0.2s;
	-moz-transition-duration: 0.2s;
	transition-duration: 0.2s;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	font-size: 1em;
	cursor: pointer;
	text-align: center;
	background-color: #4479BA;
	position: relative;
	margin: 4px;
}

.inquiryBox .inquiryControlBox li:hover {
	border: 1px solid #2A4E77;
    text-decoration: none;
	background-color: #356094;
}

.inquiryBox .inquiryControlBox li:active {
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
	border: 1px solid #203E5F;
	background-color: #2E5481;
}

.listBox {
	display: none;
}

/* @end */

/* @group Main */

#mainContentWrapper {
	background-color: white;
	padding: 20px 0;
	text-align: justify;
	min-height: 250px;
}

#mainContent {
	padding: 0;
	font-size: 90%;
}

#mainContent > .description {
	text-align: left;
}

#mainContent > .title {
	text-align: left;
	font-weight: bold;
	font-size: 150%;
}

#mainContent .inquiryMenu {
	margin: 30px auto;
}

#mainContent .lattes {
	width: 48px;
	height: 48px;
}

/* @end */

/* @group Prancheta */

#pranchetaContent {
	position: relative;
	overflow: hidden;
	border-left: 1px solid #333;
	border-right: 1px solid #333;
	text-align: left;
	margin: 0 auto;
	-moz-box-shadow: 0 0 10px #000000;
	-webkit-box-shadow: 0 0 10px #000000;
	box-shadow: 0 0 10px #000000;
	background-color: #FFF;
	width: 90%;
}

#pranchetaContent .toolBoxWrapper {
	background-color: #ECECEC;
	-moz-box-shadow: 2px 0 20px #000000;
	-webkit-box-shadow: 2px 0 20px #000000;
	box-shadow: 2px 0 20px #000000;
	text-align: right;
	z-index: 5;
	width: 100%;
	position: relative;
	overflow: hidden;
}

#pranchetaContent .toolBoxOptions {
	border-bottom: 2px solid #333;
	display: none;
	width: 100%;
/*	min-height: 100px;*/
	margin: 0 auto;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}

#pranchetaContent .toolBoxOptionsExport {
	background-color: white;
	font-size: 70%;
}

#pranchetaContent .toolBoxOptionsOpen ul {
	min-height: 56px;	
}

#pranchetaContent .toolBoxOptionsOpen .documentBadge {
	background: url("../images/48-doc.png") no-repeat 0px 0px;
	display: inline-block;
	width: 48px;
	height: 48px;
	padding-top: 10px; /* Internal margin for text */
	cursor: pointer;
}

#pranchetaContent .screenRatio {
	font-size: 120%;
	border: 4px solid #818181;
	color: #818181;
	border-radius: 10px;
	display: inline-block;
	margin: 0 10px;
	cursor: pointer;
}

#pranchetaContent .screenDivider {
	border-bottom: 2px solid black;
	margin: 20px 0;
}

/* Some screen ratios */
/*	LANDSCAPE 	*/
#pranchetaContent .screenRatio-2-3 {
	padding: 24px 32px;
}

#pranchetaContent .screenRatio-9-16 {
	padding: 18px 32px;
}

#pranchetaContent .screenRatio-3-5 {
	padding: 18px 30px;
}

#pranchetaContent .screenRatio-5-8 {
	padding: 20px 32px;
}

/*	PORTRAIT 	*/
#pranchetaContent .screenRatio-3-2 {
	padding: 32px 24px;
}

#pranchetaContent .screenRatio-16-9 {
	padding: 32px 18px;
}

#pranchetaContent .screenRatio-5-3 {
	padding: 30px 18px;
}

#pranchetaContent .screenRatio-8-5 {
	padding: 32px 20px;
}

#pranchetaContent .screenRatioSelected {
	border: 4px solid #1f478c;
	color: #1f478c;
}

#pranchetaContent .toolBox {
	padding: 8px 14px;
}

#pranchetaContent .toolBoxLeft {
	float: left;
	text-align: left;
}

#pranchetaContent .toolBoxRight {
	text-align: right;
}

#pranchetaContent .toolBox img {
	width: 48px;
	height: 48px;
	cursor: pointer;
	vertical-align: middle;
	margin: 0 3px;
}

#pranchetaContent .toolBox .toolPreview {
	width: 36px;
	height: 24px;
}

#pranchetaContent .toolBox .toolSmall {
	width: 32px;
	height: 32px;
}

#pranchetaContent .objectWrapper {
	padding: 30px;
	border-radius: 10px;
	border: 2px solid #333;
	width: 222px;
	height: 222px;
	cursor: move;
	z-index: 0;
	background-color: white;
}

#pranchetaContent .objectWrapper textarea {
	resize: none;
}

#pranchetaContent .objectWrapper.ui-resizable-resizing {
	padding: 30px;
}

#pranchetaContent .boardContent {
	min-height: 100px;
	padding: 20px;
	z-index: 3;
	position: relative;
}

#pranchetaContent .lateralContent {
	z-index: 9999;
	position: absolute;
	top: 0;
	right: 0;
	background-color: #ECECEC;
	padding: 20px 15px;
	height: 100%;
	-moz-box-shadow: 2px 0 20px #000000;
	-webkit-box-shadow: 2px 0 20px black;
	box-shadow: 2px 0 20px black;
}

#pranchetaContent .lateralContent .toolRefresh {
	position: absolute;
	top: 8px;
	right: 6px;
	margin: 0;
	padding: 0;
	width: 24px;
	height: 24px;
	cursor: pointer;
}

#pranchetaContent .lateralContent .deviceImage {
	margin: 0;
	padding: 0;
	width: 300px;
	height: 569px;
}

#pranchetaContent .deviceContent {
	position: absolute;
	font: none;
}

#pranchetaContent .deviceContent.iphone-Portrait {
	top: 122px;
	right: 42px;
	background-color: white;
	width: 245px;
	height: 367px;
}

#pranchetaContent .deviceContent.galaxyS3-Portrait {
	top: 132px;
	right: 42px;
	background-color: white;
	width: 245px;
	height: 367px;
}

#pranchetaContent .deviceContent.nexus-Portrait {
	top: 122px;
	right: 42px;
	background-color: white;
	width: 245px;
	height: 367px;
}

#pranchetaContent .deviceContent.xoom-Portrait {
	top: 122px;
	right: 42px;
	background-color: white;
	width: 245px;
	height: 367px;
}

#pranchetaContent .deviceContent.iphone-Landscape {
	top: 122px;
	right: 42px;
	background-color: white;
	width: 245px;
	height: 367px;
}

#pranchetaContent .deviceContent.galaxyS3-Landscape {
	top: 122px;
	right: 42px;
	background-color: white;
	width: 245px;
	height: 367px;
}

#pranchetaContent .deviceContent.nexus-Landscape {
	top: 122px;
	right: 42px;
	background-color: white;
	width: 245px;
	height: 367px;
}

#pranchetaContent .deviceContent.xoom-Landscape {
	top: 122px;
	right: 42px;
	background-color: white;
	width: 245px;
	height: 367px;
}


div.wysiwyg ul.toolbar li.indexUp {
    background-position: -192px -144px !important;
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-top: 1px;
    line-height: 14px;
    vertical-align: text-top;
    background-image: url("../img/glyphicons-halflings.png");
    background-position: 14px 14px;
    background-repeat: no-repeat;
}

div.wysiwyg ul.toolbar li.indexDown {
    background-position: -216px -144px !important;
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-top: 1px;
    line-height: 14px;
    vertical-align: text-top;
    background-image: url("../img/glyphicons-halflings.png");
    background-position: 14px 14px;
    background-repeat: no-repeat;
}

/* @end */

/* @group Wrapper */

#wrapper {
	border-top: 3px solid #333;
	text-align: center;
	padding-top: 10px;
	font-size: 17px;
	padding-bottom: 20px;
}

#wrapper * {
	display: inline;
}

#wrapper li {
	margin: 5px;
}

#wrapper a {
	text-decoration: none;
	color: black;
}

/* @end */
